.DS_Store
# Ignore Emacs backups
*~

# ignore compiled html files in MeetingNotes
./MeetingNotes/*.html

# ignore previous theses. These can be found on the Google Drive
./Past_Theses/*

# ignore logs, plots, and spreadsheets
/logs/
/spreadsheets/

# ignore vicon log file
vicon_logs.txt
vicon_eflite_logs.txt

# Ignore build folders used for installing software
/build/
/lcm-1.4.0/
/plane_data_t/
/ViconDataStreamSDK/*.dylib
